body {
    padding-top: 75px;
    }

audio {
    display: block;
    margin-top: 5px;
    width: 100%;
    }

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.event-row {
    padding-top: 20px;
    }

.event-image {
    margin-top: 5px; 
    }

.sasha-footer {
    background-color: #222;
    border-top: 1px solid #e5e5e5; 
    color: #767676;
    margin-top: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    }

.event-grid {
    }