-e git://github.com/Abjad/abjad.git#egg=abjad
Beaker
configobj
matplotlib
mongoengine
numpy
pyfftw
pyramid
pyramid_debugtoolbar
pyramid_mako
pytest
scikit-learn
scikits.audiolab
sqlalchemy
waitress
webhelpers