/* GLOBAL */

html, body {
    background-color: #FFF;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    height: 100%;
    }

#wrap {
    min-height:100%;
    position:relative;
    }

/* COMMON */

a {
    color: #369;
    font-weight: bold;
    text-decoration: none;
    }

a:hover {
    color: #f60;
    }

.bottom {
    padding-bottom: 1em;
    }

.button {
    background-color: #000;
    color: #fff;
    display: block;
    margin-bottom: 0.5em;
    padding: 0.5em;
    }

.button:hover {
    background-color: #333;
    color: #f60;
    }

.lastbutton {
    margin-bottom: 0;
    }

.divider {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    }

.grey {
    color: #999;
    }

.rounded {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
    }

audio {
    width: 100%;
    display: block;
    }

/* LAYOUT */

#header {
    margin-top: 1em;
    }

#header #masthead {
    }

#header #masthead #site_title {
    font-size: 4em;
    letter-spacing: +0.15em;
    line-height: 0;
    }

#header #masthead #site_subtitle {
    font-size: 1.5em;
    }

#header nav#mainmenu {
    border-bottom: 1px solid #ccc;
    display: block;
    margin-bottom: 1em;
    padding-bottom: 1em;
    }

#header nav#mainmenu ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0; 
    }

#header nav#mainmenu ul li {}

#header nav#mainmenu ul li a {
    background-color: #000;
    color: #fff;
    display: block;
    float: left;
    height: 2em;
    line-height: 2em;
    margin: 0 0.25em 0 0;
    padding-right: 1em;
    padding-left: 1em;
    }

#header nav#mainmenu ul li a:hover {
    background-color: #333;
    color: #f93;
    }

body.search #header nav#mainmenu ul li.search a {
    border-bottom: 0.5em solid #f60;
    }

body.clusters #header nav#mainmenu ul li.clusters a {
    border-bottom: 0.5em solid #f60;
    }

#flash {
    border-bottom: 1px solid #ccc;
    margin-bottom: 1em;
    padding-bottom: 1em;
    }

#flash ul {}

#flash ul li {
    color: #c30;
    font-weight: bold;
    margin-bottom: 1em;
    }

#title, .section_title {
    border-bottom: 1px solid #ccc;
    font-size: 1.5em;
    line-height: 0;
    margin-bottom: 1em;
    padding: 0.5em 0 1em 0;
    }

#main {
    /*border-bottom: 1px solid #ccc;*/
    /*margin-bottom: 1em;*/
    }

#footer {
    margin-bottom: 1em;
    }

/* SEARCH */

nav.pagination {
    margin-bottom: 1em;
    padding: 0.5em 0 0.5em 0;
    }

nav.pagination .pager_curpage,
nav.pagination .pager_dotdot,
nav.pagination .pager_link,
nav.pagination .pager_summary {
    padding: 0.5em 0.75em 0.5em 0.75em;
    }

nav.pagination .pager_curpage {
    border: 1px dotted #333;
    font-weight: bold;
    }

nav.pagination .pager_link {
    background-color: #000;
    }

nav.pagination a.pager_link {
    color: #fff;
    text-shadow: none;
    }

nav.pagination a.pager_link:hover {
    background-color: #333;
    color: #f93;
    }

#searchbar {
    margin-bottom: 1em;
    }

#searchbar button {
    padding: 0.5em;
    width: 100%;
    }

#searchbar .category {
    margin-top: 1em;
    }

#searchbar .category .label {
    background-color: #000;
    color: #fff;
    font-size: 0.8em;
    margin-bottom: 1px;
    padding: 0.5em;
    }

#searchbar .category .items {
    background-color: #000;
    padding: 0.5em;
    }

#searchbar .category .items input {
    border: none;
    outline: none;
    padding: 0.5em;
    width: 110px;
    }

#search {}

#results {
    }

#events {
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin-bottom: 1em;
    padding-top: 1em;
    }

.event {
    margin-bottom: 1em;
    }

.event .annotation {
    margin-bottom: 0.5em;
    }

.event .notations {
    margin-bottom: 0em;
    }

#single_event {}

#single_event .event_data {
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    }

#single_event .event_data .label {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
    }

#single_event .event_data .datum {
    }

/* CLUSTERS */

.clusters ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0;
    padding: 0; 
    }

.clusters ul li a {
    background-color: #000;
    color: #fff;
    display: block;
    float: left;
    height: 2em;
    line-height: 2em;
    margin: 0 0.25em 0.25em 0;
    padding-right: 0.9em;
    padding-left: 0.9em;
    }

.clusters ul li a:hover {
    background-color: #333;
    color: #f60;
    }